---
import SectionLayout from "../../../layouts/SectionLayout.astro";
---

<SectionLayout title="Selected Work" className="mt-24">
  <Fragment slot="quote">{"//and now"}</Fragment>
  <Fragment slot="title">
    Selected <span class="text-accent font-serif">*</span>
    <span class="block w-full text-end">Work</span>
  </Fragment>
  <Fragment slot="description">Hello</Fragment>
</SectionLayout>
