---
import SectionLayout from "@layouts/SectionLayout.astro";

import ProjectSection from "./ProjectSection.astro";
---

<SectionLayout
  title="Selected Work"
  quote="a curated list i’ve worked on with actual clients and fun side projects to expand my knowledge"
  className="mt-24"
>
  <Fragment slot="quote">{"//and now"}</Fragment>

  <Fragment slot="title">
    Selected <span class="text-accent font-serif">*</span>
    <span class="block w-full text-end">Work</span>
  </Fragment>

  <ProjectSection />
</SectionLayout>
