---
import ProjectSwiper from "@components/widgets/ProjectSwiper";
import SectionLayout from "@layouts/SectionLayout.astro";
---

<SectionLayout
  title="Selected Work"
  quote="a curated list i’ve worked on with actual clients and fun side projects to expand my knowledge"
  className="mt-24"
>
  <Fragment slot="quote">{"//and now"}</Fragment>

  <Fragment slot="title">
    Selected <span class="text-accent font-serif">*</span>
    <span class="block w-full text-end">Work</span>
  </Fragment>

  <div>
    <ProjectSwiper
      websiteTitle="release clinic"
      websiteHref="https://releaseclinic.com"
      caseTitle="Portfolio of the mastermind of physiotherapy in Egypt"
      caseHref="/posts/release-clinic"
      client:only="react"
    >
      <div class="grid md:grid-cols-2 gap-4 md:gap-16">
        <p>
          founded by dr. Mohamed Shawky, Release Clinic quickly became the go-to
          facility for professional athletes.
        </p>
        <p>
          in collaboration with
          <a
            class="underline hover:text-accent"
            href="https://revivecreates.com">revive creates</a
          >.
        </p>
      </div>
    </ProjectSwiper>
    <div class="mt-192"></div>
    <div class="mt-192"></div>
  </div>
</SectionLayout>
