---
import ProjectSwiper from "@components/widgets/ProjectSwiper";

import Release from "../../../assets/images/release.jpg";
import Vincent from "../../../assets/images/vincent.jpg";
---

<div class="flex flex-col gap-24">
  <ProjectSwiper
    client:only="react"
    website={{
      title: "release clinic",
      href: "https://releaserehab.com",
    }}
    content={{
      title: "Portfolio of the mastermind of physiotherapy in Egypt",
      href: "/posts/release-clinic",
    }}
    projectImage={{
      src: Release.src,
      alt: "",
    }}
  >
    <div class="grid gap-4 md:grid-cols-2 md:gap-16">
      <p>
        founded by dr. Mohamed Shawky, Release Clinic quickly became the go-to
        facility for professional athletes.
      </p>
      <p>
        in collaboration with
        <a
          class="underline hover:text-accent"
          target="_blank"
          rel="noreferrer"
          href="https://revivecreates.com"
        >
          revive creates</a
        >.
      </p>
    </div>
  </ProjectSwiper>
  <ProjectSwiper
    client:only="react"
    website={{
      title: "vincent portfolio",
      href: "https://releaseclinic.com",
    }}
    content={{
      title: "Portfolio of a broken artist",
      href: "/posts/release-clinic",
    }}
    projectImage={{
      src: Vincent.src,
      alt: "",
    }}
  >
    <div class="grid gap-4 md:grid-cols-2 md:gap-16">
      <p>
        founded by dr. Mohamed Shawky, Release Clinic quickly became the go-to
        facility for professional athletes.
      </p>
      <p>
        in collaboration with
        <a class="underline hover:text-accent" href="https://revivecreates.com">
          revive creates</a
        >.
      </p>
    </div>
  </ProjectSwiper>
</div>
