---
import Comment from "../../icons/comment.svg";
import Stars from "../../icons/stars.svg";
---

<h1
  class="text-clamp font-black uppercase leading-none whitespace-nowrap select-none"
>
  <div class="flex">
    <span class="text-accent">Creative</span>
    <img class="w-[10vw]" src={Comment.src} alt="" />
  </div>
  <div class="flex">
    <img class="w-[12vw]" src={Stars.src} alt="" />
    <span class="text-secondary">Developer</span>
  </div>
</h1>
