<section class="flex flex-col justify-center items-center px-9vw min-h-screen">
  <h1 class="text-clamp font-black uppercase leading-none whitespace-nowrap">
    <span class="text-secondary">Creative</span>
    <span class="font-serif">{"//"}</span>
    <br />
    <span class="font-serif">**</span>
    <span class="text-primary">Developer</span>
  </h1>
  <h2>Hello</h2>
</section>
