---
import "../styles/global.css";
import Navbar from "../components/widgets/Navbar";
import SmoothScroll from "../components/widgets/SmoothScroll";
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content="rhasoldy" />
    <title>{title}</title>
  </head>
  <body class="bg-background text-primary">
    <Navbar client:only="react" />
    <SmoothScroll client:only="react">
      <slot />
    </SmoothScroll>
  </body>
</html>
