---
import Quote from "@components/widgets/Quote";
type Props = {
  title: string;
  quote: string;
  className?: string;
};

const { title, quote, className } = Astro.props;
---

<section class={className}>
  <div class="w-full flex flex-col items-center">
    <p class="text-primary-dark font-serif"><slot name="quote" /></p>
    <h2
      aria-label={title}
      class="flex flex-wrap text-4xl sm:text-5xl xl:text-7xl font-bold uppercase w-[10ch]"
    >
      <slot name="title" />
    </h2>
  </div>

  <div class="h-20">
    <Quote
      quote={quote}
      client:only="react"
      className="w-full md:w-1/2 md:pr-0 md:px-9vw"
    />
  </div>

  <div class="mt-24">
    <slot />
  </div>
</section>
