---
import Quote from "../components/widgets/Quote";
type Props = {
  title: string;
  className?: string;
};

const { title, className } = Astro.props;
---

<section class={className}>
  <div class="w-full flex flex-col items-center">
    <p class="text-primary-dark font-serif"><slot name="quote" /></p>
    <h2
      aria-label={title}
      class="flex flex-wrap text-4xl md:text-5xl font-bold uppercase w-60 md:w-80"
    >
      <slot name="title" />
    </h2>
  </div>

  <Quote className="md:w-1/2 md:pr-0">
    <slot name="description" />
  </Quote>

  <div class="px-9vw mt-24">
    <slot />
  </div>
</section>
